section.banner-section {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 250px 0 ;

    @media @mobileTab {
        text-align: center;
        background: #14191B;
        padding: 199px 0 150px 0;
      
    }

    .full-image {
        pointer-events: none;
        width: 100%;
        opacity: 1;
    
        @media @mobileTab {
            position: initial;
            width: 100%;
            // padding: 0 50px 0 0;
            // opacity: 20%;
        }
      }
    
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(to top, #292929 20%, #000000 100%);
    // }

    .container {
        position: relative;
        z-index: 2;
        padding-top: 50px;
        
        @media @mobileTab {
            padding:20px 0;
            text-align: center;
        }

        .row {
            align-items: flex-end;
        }

        .content-wrapper {
        
            h1 {
                font-size: 60px;
                color: #FFF;
                text-align: left;
                line-height: 65px;
                text-transform: uppercase; 
                
                @media @mobileTab {
                    text-align: center;
                }

            }

            h5{
                color: #5E6B6F;
                font-size: 16px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
            }
            .banner-contact-wrapper{
                display: flex;

                @media @mobileTab {
                    padding: 0px 21px 0 79px;
                    display: grid;
                    justify-content: center;
                }

                h6{    
                    color: #767676;
                    font-size: 14px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    margin-right: 26px;
                    text-transform: uppercase;
                    padding-right: 18px;
                    line-height: 26px;
                    margin-left: -21px;
                    text-align: left;

                    @media @mobileTab {
                        text-align: center;
                    }

                    span{
                        color: #C7C7C7;
                        font-size: 20px;
                        font-family: Poppins;
                        font-weight: 500;
                    }
                }
   
            }

            @media @mobileTab {
                // margin-bottom: 40px;
                text-align: center;
            }
        }       
    }    
}

section.about-section{
    background: #14191B;
    margin-top: 0;
    padding: 97px 0 236px 0;

    @media @mobileTab{
        margin-top: -50px;
    }
    
    .container{

        .content-wrapper{
            padding: 0 113px;

            @media @mobileTab {
                padding: 0 50px;
            }
            
            h6{
                color: #767B7D;
                text-align: center;
                font-size: 16px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: 124%;
                text-transform: uppercase;
            }

            h5{
                color: #FFFFFF;
                text-align: center;
                
                font-size: 16px;
                font-weight: 600;
                // line-height: 0px;
            }

            h2{
                color: #767B7D;
                

            }

            p{
                margin-top: 35px;
                color: #7A7A7A;
                text-align: center;
                font-size: 14px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                line-height: 175%;
                text-transform: capitalize;

                span{
                    text-decoration-line: underline;

                }
            }        
        }
        .link-btn{
            color: #BD08FA;
            text-align: center;
            font-size: 15px;
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            margin-top: 30px;

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                
                
                img{
                    margin-right: 10px;
                }
            }
        }
    }   
}

section.approach-section{
    padding-bottom: 0;
    .container{

        .row{
            .col-lg-6{
                padding-right: 0;
                padding-left: 0;
            }
        }
        .col-lg-6{
            margin: -176px 0 0 0;
            height: 775px;
            object-fit: cover; 

            @media @mobileTab {
                    // margin: -249px 0 -122px 0;
                    height: 765px;
                    object-fit: cover;
            }
            
            .approach-img{

                @media @mobileTab {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
            }
        }

        .squre-shape{
            padding: 91px 52px 10px 52px;
            height: 700px;
            width: 100%px;
            background-color: #ffffff;
            margin: -74px 0 0 0; 

            @media @mobileTab {
                text-align: center;
                padding-bottom: 50px;
                
            }

            
            h2{               
                font-size: 34px;
                margin-bottom: 20px;
                text-transform: uppercase;
                text-align: left;
                font-weight: 600;

                @media @mobileTab {
                    text-align: center;
                }
            }

            h6{

                color: #767B7D;
                font-size: 16px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: 124%;
                text-transform: uppercase;
            }

            p{
                color: #7A7A7A;
                font-size: 14px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                line-height: 175%;
                text-transform: capitalize;
            }

            div{
                .link-btn{
                    color: #000000;
                    text-align: center;
                    font-size: 15px;
                    font-family: Josefin Sans;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                    margin-top: 30px;
                    margin-bottom: 30px;
        
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: left;

                        @media @mobileTab {
                            display: flex;
                        align-items: center;
                        justify-content: center;
                        }
                                      
                        img{
                            margin-right: 10px;
                            height: 100%;
                                               
                        }
                    }
                }

                @media @mobileTab {
                    padding-bottom: 50px;
                }
            }
            
        }
    }
}

section.services-section{
    margin-top: 30px;
    background: #000000;
    padding-top: 88px;

    @media @mobileTab {
        padding-top: 50px;
        margin-top: 225px;
    }

        .content-wrapper{

            .row{
                --bs-gutter-x: 0;
            }
                
            .team-image{
                height: 576px;
                width: 427px;
                object-fit: cover;
                margin-top: 30px;


                @media @mobileTab {              
                    margin-top: 30px;
                    display: flex;
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    object-fit: cover;

                }
            }

            .team-img-description{
                position: relative;
                bottom: 105px;
                color: #FFF;
                text-align: center;
                font-size: 36px;
                font-family: Philosopher;
                font-style: normal;
                font-weight: 600;
                line-height: 124%;
                text-transform: uppercase;
            }

            h6{
                color: #767B7D;
                text-align: center;
                font-size: 16px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: 124%;
                text-transform: uppercase;
            }

            h2{
                color: #E0E0E0;
                font-size: 34px;
                margin-bottom: 20px;
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                

                span{
                    color: #BD08FA;
                }
            }

            .link-btn{
                color: #FFFFFF;
                text-align: center;
                font-size: 15px;
                font-family: Josefin Sans;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                padding-bottom: 99px;
    
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                                  
                    img{
                        margin-right: 10px;
                        height: 100%;
                        
                   
                    }
                }
            }
        }
}

section.contact-section{
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 100%;

    @media @mobileTab {
        text-align: center;
    }

    .contact-bground{
        padding: 200px ;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .col-lg-6{
        width: 55%;
        padding: 200px 0;

        @media @mobileTab {
            width: 100%;
            text-align: center;
        }
    }
    .content-wrapper{
        position: relative;
        // text-align: left;
        z-index: 5;

        @media @mobileTab {
            text-align: center;
            padding: 0 10px;
        }

        h6{
            color: #767B7D;
            font-size: 16px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            text-align: left;
            line-height: 124%;
            text-transform: uppercase;

            @media @mobileTab {
                text-align: center;
            }
        }

        h2{
            color: #E0E0E0;
            font-size: 34px;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: left;
            font-weight: 600;
                
            span{
                color: #BD08FA;
            }

            @media @mobileTab {
                text-align: center;
            }
        }

        p{
            color: #FFF;
            font-size: 14px;
            font-family: Open Sans;
            font-weight: 500;
            line-height: 169.5%;
            text-transform: capitalize;

            @media @mobileTab {
                text-align: center;
            }
        }  
        
        .link-btn{
            color: #FFFFFF;
            text-align: left;
            font-size: 15px;
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            margin-top: 30px;
            margin-bottom: 30px;
    
            a{
                display: flex;
                align-items: center;
                
                              
                img{
                    margin-right: 10px;
                    height: 100%;
                    
               
                }
            }
            @media @mobileTab {
                display: flex;
                justify-content: center;
            }
        }  
    }
}

section.location-section{
    padding: 0;
    margin-top: 80px;
    margin-bottom: -100px;

    h5{
        text-align: center;
        color: #292929;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: 124%;
        text-transform: uppercase;
    }

    h3{
        color:#202020;
        font-size: 34px;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
            
        span{
            color: #BD08FA;
        }
    } 

    .location-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media @mobileTab {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            background: #000;
        }

        .location-image{
            position: relative;
            padding-top: 100%;
            width: 100%;
            // height: 100%;

            .location-img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 5;

                @media @mobileTab {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .content-wrappr{
                position: relative;
                overflow: visible;
                z-index: 10;
                bottom: 220px;
                text-align: center;

                h2{
                    color: #FFF ;
                }
    
                h6{
                    color:#FFF;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 194%;

                    span{
                        font-weight: 500; 
                    }
                }
            }

            .link-btn{
                position: relative;
                color: #FFFFFF;
                text-align: left;
                font-size: 15px;
                font-family: Josefin Sans;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                margin-top: -194px;
                margin-bottom: 145px;
                z-index: 10;

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                
                    img{
                        margin-right: 10px;
                        height: 100%;
                    }
                }
            }      
        }
    }
    
}

section.appointment-section{
    padding-top: 296px;
    background: #000;
    margin-top: -293px;
    
    .container{

        h2{
            color:#E0E0E0;
            font-size: 34px;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
                
            span{
                color: #BD08FA;
            }
        } 

        .link-btn{
            color: #FFFFFF;
            margin-top: 30px;
            margin-bottom: 30px;
    
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                
                              
                img{
                    margin-right: 10px;
                    height: 100%;
                    
               
                }
            }
    
        } 

        .swiper-slide {
          display: flex;
          justify-content: center;
        }
      
        .swiper-img {
          position: relative;
    
      
          .full-image {
            object-fit: contain;
          }
        }
        
    }
}

section.galary-section{ 
    margin: 0;
    // padding-top: 100px;
   .galary-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media @mobileTab {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        // background: #000;
    }

        .galary-image{
            position: relative;
            padding-top: 100%;
            width: 100%;

            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            h4{
                position: absolute;
                top: 50%;
                width: 100%;
                color: #ffffff;
                text-align: center;
                font-family: Josefin Sans !important;
                font-size: 20px;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                
            } 
        }
    } 
}
        