header.main-header {margin-top: 30px;
    padding: 20px 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    

    @media @mobileTab {
        &::before {
            content: unset;
        }
    }

    // &.sticky {
    //     position: fixed;
    //     border-bottom: solid 1px fade(@primary-color, 50%);
    //     mix-blend-mode: unset;

    //     &::before {
    //         opacity: 1;
    //     }

    //     .logo-wrapper {
    //         img {
    //             max-width: 100px !important;
    //         }
    //     }
    // }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media @mobileTab {
            justify-content: center;
            flex-direction: column;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .logo-wrapper {
            img {
                max-width: 250px;
                display: block;
                .transitions();
            }
        }

        .menu-wrapper {
            @media @mobileTab {
                display: none;
            }

            ul {
                list-style-type: none;

                li {

                    &:not(:last-child) {
                        margin-right: 70px;

                        @media @mobileTab {
                            margin-right: 0px;
                            margin-bottom: 15px;
                        }
                    }

                    a {
                        color: #FFF;
                        text-align: center;
                        font-size: 13px;
                        font-family: Josefin Sans;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        text-transform: uppercase;
                    }

                    &.menu-item-has-children {
                        position: relative;

                        >a {
                            &::after {
                                content: '\f078';
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                margin-left: 10px;
                                .transitions(400ms);
                            }
                        }    
                    }
                }
            }
        }

        .theme-btn {
            padding: 10px 20px;
            font-weight: 700;
            margin-left: 70px;
            font-size: 14px !important;

            @media @mobileTab {
                margin-top: 20px;
                margin-left: 0px;
                display: none;
            }
        }
    }
}